.topbar{
height:70px;
background-color:#3E4454;
margin-bottom:10px;
color:white;
font-weight:bold;
padding-top:20px;
}

body {
	margin-left:5%;
	margin-right:5%;
	font-size:15px;
	background-image:url(backimg.png);
}

#ingredientsdiv,#stepdiv,#recipesdiv{
	text-align:center;
}

#dishimgbox{
	text-align:center;
}

#ingredientsbox,#stepbox{
	margin:auto;
}
#recipeslistbox{
	text-align:center;
	margin:auto;
}
#basicinfotable{
	width:600px;
}
.bodydiv{
	margin-left:5%;
	margin-right:5%;
}
#ingredientlistbox{
	width:400px;
	margin:auto;
}
#ingredientlistdiv{
	text-align:center;
}