.topbar{
	height:70px;
	background-color:#5553E4;
	margin-bottom:10px;
	color:white;
	font-weight:bold;
	padding-top:20px;
}
#navigationbar{
	background-color:#3E4454;
	padding-left:unset;
	text-align:center;
	color:white;
}
#contentdiv{
	padding-left:unset;
}